/* styling for landing page */
.index-container {
    height: 90vh;
    position: relative;
    text-align: center;
    background-color: black;
    color: white;
    /* filter: blur(3px);
  -webkit-filter: blur(3px); */
}
.welcome-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.intro-statement {
    font-size: 250%
}
.intro-line {
    font-family: 'Roboto Mono', monospace;
    font-style: italic;
    text-align: center;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    border-right: 4px solid #0000ff;
    /* //steps sets the frames, 25 is number of characters */
    animation: type 3s steps(18, end), blink .75s step-end infinite; 
    box-sizing: border-box;
}
@keyframes type { 
  from { 
      width: 0% 
    } 
   to {
       width: 80%
   }
}
@keyframes blink {
    from, to {
        border-color: transparent
    }
    50% {
        border-color: #0000ff
    }
}
.landingBut {
  /* color: black !important; */
  background-color: black !important;
  border: 1px solid white !important;
  margin: 0px 5px;
  width: 100px;
  padding: 0px;
}
.landingBut:hover {
  border: 1px solid #0000ff !important;
}

/* styling for about me section */
/* #aboutPage {
  height: 90vh;
} */
.about, .skills {
  height: 375px;
}
.about-me-text {
    margin: 15px;
    text-align: center;
}
.about-me-image {
    width: 30%;
    border-radius: 50%;
    /* margin: 15px; */
}
.about-me-image:hover {
    filter: grayscale(80%)
}
.skills-icons {
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.skill {
    color: black;
    font-size: 40px;
    margin: 30px;
}

/* styling for project page  */
/* #projectPage {
  height: 90vh;
} */
.projectImg {
  width: 100%;
  object-fit: cover;
  margin-bottom: 15px;
}

/* styling for contact form  */
.contactcontainer {
  position: relative;
  background-color: black;
  height: 90vh;
  width: 100%;
  margin: 0px;
}
/* Bottom right text */
.formblock {
  position: absolute;
  margin-top: auto;
  margin-bottom: auto;
  top: 0;
  bottom: 0;
  right: 15%;
  background-color: white;
  color: black;
  text-align: center;
  height: 350px;
  width: 350px;
}

.formblock form {
  border-radius: 8px;
  background: white;
  font-family: 'Saira Semi Condensed', sans-serif;
}
.formblock input,
textarea {
  width: 90%;
  padding: 10px;
  margin-left: 10px !important;
  background: none;
  outline: none;
  border: 0;
  border-bottom: 2px solid #1DC7E9;
  justify-content: center;
}
.formblock textarea {
    height: 40%;
}
.formblock button {
  float: right;
  padding: 8px 12px;
  margin: 8px 20px;
  background-color: #1DC7E9;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: bold;
}
.formblock h3 {
  font-family: 'Saira Semi Condensed', sans-serif;  
  text-align: center;
  margin-top: 15px;
}
.submitText {
    margin: 40% auto;
    font-size: 130%;
    justify-content: center;
}
.thanks {
    color: #1DC7E9
}