a {
  text-decoration: none !important;
}
#aboutPage, #projectPage, #contact {
  padding-top: 65px;
}
.navLinks {
  color: black;
}
/* styling for landing page */
.index-container {
    height: 90vh;
    position: relative;
    text-align: center;
    background-color: black;
    color: white;
    /* filter: blur(3px);
  -webkit-filter: blur(3px); */
}
.welcome-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.intro-statement {
    font-size: 250%
}
.intro-line {
    font-family: 'Roboto Mono', monospace;
    font-style: italic;
    text-align: center;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    border-right: 4px solid #0000ff;
    /* //steps sets the frames, 25 is number of characters */
    animation: type 3s steps(18, end), blink .75s step-end infinite; 
    box-sizing: border-box;
}
@keyframes type { 
  from { 
      width: 0% 
    } 
   to {
       width: 80%
   }
}
@keyframes blink {
    from, to {
        border-color: transparent
    }
    50% {
        border-color: #0000ff
    }
}
.landingBut {
  /* color: black !important; */
  color: white !important;
  background-color: black !important;
  border: 1px solid white !important;
  margin: 0px 5px;
  width: 100px;
  padding: 0px;
}
.landingBut:hover {
  border: 1px solid #0000ff !important;
}
.landingBut a {
  color: white !important
}

/* styling for about me section */
/* #aboutPage {
  height: 90vh;
} */

.aboutContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

@media only screen and (max-width: 768px) {
  .aboutContainer {
    flex-wrap: wrap;
  }
}
.about-content, .skills {
  flex-basis: 100%
}

.about-me-text {
    margin: 15px;
    text-align: center;
}
.about-me-image {
    width: 30%;
    border-radius: 50%;
    /* margin: 15px; */
}
.about-me-image:hover {
    filter: grayscale(80%)
}
.skills-icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.skill {
    color: black;
    font-size: 40px;
    margin: 30px;
}
.css, .html, .react, .nodejs, .python, .js, .git {
  text-align: center;
}

/* styling for project page  */
/* #projectPage {
  height: 90vh;
} */
.projectItem {
  padding: 16px;
  background-color: black;
  margin: 5px;
}
.projectBox {
  height: 475px;
}
.projectImg {
  width: 100%;
  object-fit: cover;
  margin-bottom: 15px;
}
.projectBut {
  /* color: black !important; */
  color: black !important;
  background-color: white !important;
  border: 1px solid black !important;
  margin: 0px 5px;
  width: 100px;
  padding: 0px;
}
.projectBut a {
  color: black;
}
.projectBut:hover {
  border: 1px solid #0000ff !important;
}
@media only screen and (max-width: 900px) {
  .projectItem {
    width: 90%;
    height: auto;
    /* margin: 0px 5px;
    justify-content: center; */
  }
  .projectBox {
    height: auto;
    margin: 0px auto !important;
  }
}

/* styling for contact form  */
.contactcontainer {
  position: relative;
  background-color: white;
  height: 70vh;
  width: 100%;
  margin: 0px;
}

.submitText {
    margin: 40% auto;
    font-size: 130%;
    justify-content: center;
}
.thanks {
    color: #1DC7E9
}